.base-dark-color {
  color: $base-dark;
}
.light-dark-color {
  color: $light-dark;
}
.secondary-color {
  color: $secondary-color;
}
.accent-color {
  color: $accent-color;
}
.base-dark-bg {
  background-color: $base-dark;
}
.light-dark-bg {
  background-color: $light-dark;
}
.secondary-bg {
  background-color: $secondary-color;
}
.accent-bg {
  background-color: $accent-color;
}
